/*
 * User Header
 */
@use "partial";

header.userHeader {
  @include partial.center-align-flex;
  height: 400px;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 3em;
  text-align: center;
  word-break: break-all;
  background-color: partial.$header-background-color;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  img {
    padding-top: 1em;
  }
  h2 {
    margin-top: 0;
  }
}