/*
 * Media Queries
 */

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  #content-container {
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    > div {
      width: 80%;
    }
  }

  header.userHeader {
    margin-top: 0;
    margin-left: 2em;
    margin-right: 2.5em;
    height: 30%;
    width: 30%;
    padding: 35px 25px 0 25px;
    border-radius: 5%;
  }
}