/*
 * User Header
 */
header.userHeader {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: 400px;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 3em;
  text-align: center;
  word-break: break-all;
  background-color: #d99821;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
header.userHeader img {
  padding-top: 1em;
}
header.userHeader h2 {
  margin-top: 0;
}
