/*
 * Media Queries
 */
/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  #content-container {
    padding-top: 8.5em;
    display: flex;
    flex-direction: row;
  }
  #content-container > div {
    width: 80%;
  }
  header.userHeader {
    margin-top: 0;
    margin-left: 2em;
    margin-right: 2.5em;
    height: 30%;
    width: 30%;
    padding: 1.4em 1em 0 1em;
    border-radius: 5%;
  }
}
