nav {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
}

span {
  font-family: "Bungee";
  font-size: 1.5em;
  padding-left: 1.5em;
}

nav button {
  background-color: transparent;
  border: 0;
  color: white;
  text-align: center;
  margin: 0;
  padding-right: 1.5em;
}

nav button:hover {
  cursor: pointer;
}

.fa-angles-down {
  color: #ef3c1f;
  animation: fa-angles-down 3s ease infinite;
}

nav p {
  margin: 0;
}

@keyframes fa-angles-down {
	0%, 100% {transform: translateY(0.2em);}
	50% {transform: translateY(-0.1em);}
}