/*
 * Navigation Bar
 */
nav {
  position: fixed;
  top: 0px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
}
nav button {
  background-color: transparent;
  border: 0;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding-right: 1.5em;
}
nav p {
  margin: 0;
}
nav span {
  font-family: "Bungee";
  font-size: 1.5em;
  padding-left: 1.5em;
}
nav .fa-angles-down {
  color: #ef3c1f;
  animation: fa-angles-down 3s ease infinite;
}
@keyframes fa-angles-down {
  0%, 100% {
    transform: translateY(0.2em);
  }
  50% {
    transform: translateY(-0.1em);
  }
}
