.new-tweet form {
  width: 90%;
  margin: 3em auto 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f3f1ed;
}

.new-tweet button {
	border: none;
  color: white;
  background-color: #4151a1;
  font-family: "Bungee";
}

.new-tweet textarea {
  background: transparent;
  resize: none;
  outline: none;
  border: 0px;
  border-bottom: 3px solid #555149;
}

.new-tweet output {
  font-family: "Bungee";
}

.new-tweet label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

#tweet-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}