/*
 * New Tweet Form
 */
#new-tweet {
  display: none;
}
#new-tweet form {
  width: 90%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
}
#new-tweet button {
  border: none;
  color: #FFFFFF;
  background-color: #4151a1;
  font-family: "Bungee";
}
#new-tweet textarea {
  background: transparent;
  resize: none;
  outline: none;
  border: 0px;
  border-bottom: 3px solid #555149;
}
#new-tweet output {
  font-family: "Bungee";
}
#new-tweet label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
#new-tweet .over-max-length {
  color: #ff0000;
}
#new-tweet .validation-error {
  display: none;
  color: #ff0000;
  border: 3px solid #ff0000;
  width: 90%;
  margin: 1em auto 1.5em auto;
  padding: 0.5em;
}

#tweet-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
