/*
 * Return To Top Button
 */
.top-button {
  position: fixed;
  right: 0.4em;
  bottom: 0.3em;
  z-index: 99;
  display: none;
  width: 3em;
  height: 3em;
  color: #FFFFFF;
  background-color: #ff1d0f;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.top-button:hover {
  box-shadow: 0em 0.05em #2d2d2d;
}

.displayButton {
  display: block;
}
