article.tweet {
 border: 3px solid #555149;
 margin-top: 1.5em;
 margin-bottom: 1.5em;
}

article.tweet:hover {
  box-shadow: 0.3em 0.3em #c9cae2;
}

article.tweet header {
 display: flex;
 justify-content: space-between;
 margin: 0.4em 1.7em 0 1em;
}

article.tweet header div {
  display: flex;
  align-items:center;
}

.userAvatar {
  height: 2em;
  width: 2em;
}

.userName {
  margin-left: 10%;
}

.userHandle {
  color: #cacee5;
  font-weight: 600;
}

.userTweet {
  font-weight: 600;
  margin-left: 1.7em;
}

article.tweet footer {
  border: 0px;
  border-top: 3px solid #555149;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  padding: 0.7em 1.1em 0.7em 1.1em;
  width: 97%;
}

article.tweet footer div {
  display: flex;
  align-items: center
}

article.tweet footer p {
  margin: 0;
  font-size: 70%;
  font-weight: 600;
  color: #555149;
}

article.tweet footer i {
  color: #47569d;
  margin: 0 0.2em 0 0.2em;
}

article.tweet footer i:hover {
  color: #b9933c;
}